test_results/ratio_pixels.txt
test
obj/test.o
test
images/processed/1-sobel.gif
images/processed/1.gif
images/processed/200_s-sobel.gif
images/processed/051009.vince-sobel.gif
images/processed/9815573-sobel.gif
images/processed/australian-flag-large-sobel.gif
images/processed/Campusplan-Hausnr-sobel.gif
images/processed/Campusplan-Mobilitaetsbeschraenkte-sobel.gif
images/processed/fire-sobel.gif
images/processed/frame_002-sobel.gif
images/processed/Mandelbrot-large-sobel.gif
images/processed/porsche-sobel.gif
images/processed/Produits_sous_linux-sobel.gif
images/processed/TimelyHugeGnu-sobel.gif
images/processed/tumblr_myxlbtwVEb1qzt4vjo1_r14_500_large-sobel.gif
obj/main.o
sobelf
sobelf
obj/main.o
performance/perf_NODE_{1}_proc_{2}.txt
