test_results/
obj/
images/processed/

sobelf_*
test
performance/comparaison.txt
performance/for_comp.txt
performance/lol
performance/nohup.out
performance/perf_final
performance/perf_jojo_init
performance/perf_ref
performance/perf_times_with_threads
performance/perf_times_with_threads_full
performance/perf_writing_full
performance/perf_writing_full_DELAMORTQUITUE
performance/perf_writing_full_p1
performance/perf_x10_p10_t8_b0
performance/perf_x10_p10_t8_b0_bis
performance/performance_jonas
performance/performance_jonas_nobeta
comparaison.txt
for_comp.txt
lol
nohup.out
perf_final
perf_jojo_init
perf_ref
perf_times_with_threads
perf_times_with_threads_full
perf_writing_full
perf_writing_full_DELAMORTQUITUE
perf_writing_full_p1
perf_x3_p8_t4_b1
perf_x10_p10_t8_b0
perf_x10_p10_t8_b0_bis
performance_jonas
performance_jonas_nobeta
comparaison.txt
for_comp.txt
lol
nohup.out
perf_final
perf_jojo_init
perf_ref
perf_times_with_threads
perf_times_with_threads_full
perf_writing_full
perf_writing_full_DELAMORTQUITUE
perf_writing_full_p1
perf_x10_p10_t8_b0
perf_x10_p10_t8_b0_bis
performance_jonas
performance_jonas_nobeta
comparaison.txt
for_comp.txt
lol
nohup.out
perf_final
perf_jojo_init
perf_ref
perf_times_with_threads
perf_times_with_threads_full
perf_writing_full
perf_writing_full_DELAMORTQUITUE
perf_writing_full_p1
perf_x10_p10_t8_b0
perf_x10_p10_t8_b0_bis
performance_jonas
performance_jonas_nobeta
